.messageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > img{
        height: 32px;
        margin: 10px 0;
    }
}
.messageList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    justify-content: center;
    .message{
        max-width: 440px;

        &:nth-child(2){
            margin-left: 150px;
        } 
        &:nth-child(4){
            margin-left: 150px;
        }
        .messageContent{
            font-size: 20px;
            line-height: 20px;
        }
        .messageUser{
            margin-top: 16px;
            display: flex;
            align-items: center;
            .userImage{
                padding: 2px;
                background: linear-gradient(100deg, purple 0%, darkgoldenrod 100%);
                border-radius: 50%;
                line-height: 0;
                img{
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    border: 2px solid violet;
                }

            }
            span{
                font-size:18px;
                margin-left: 20px;
            }
        }
    }
}